<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home | Follow</title>
  <link href="/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div class="grid">
    <div class="item">
      <div class="content">
        <a href="https://www.thairath.co.th">
          <img loading="lazy"
            src="https://scontent.fhdy4-1.fna.fbcdn.net/v/t39.30808-6/279180285_360119662821050_1952104770975015732_n.jpg?_nc_cat=1&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=Xb9TfYvQUkcAX-oZHFH&_nc_ht=scontent.fhdy4-1.fna&oh=00_AT8XgViGgQElr1BT44WDWWx1GBt3IEOuT1RNEQVW0gH3uQ&oe=62EE92A6" />
        </a>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <a href="https://www.bangkokbiznews.com">
          <img loading="lazy"
            src="https://scontent.fhdy4-1.fna.fbcdn.net/v/t39.30808-6/273554565_10163509739774815_4015512561130698709_n.jpg?_nc_cat=1&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=2hFyi-mtaL4AX9B6rM5&_nc_ht=scontent.fhdy4-1.fna&oh=00_AT8SldRtd7Gw8HzXiVZSY7hlCn4kT8huB3k293_HAToOqw&oe=62EF6387" />
        </a>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <a href="https://www.khaosod.co.th">
          <img loading="lazy"
            src="https://scontent.fhdy4-1.fna.fbcdn.net/v/t39.30808-6/291338003_7700952546588304_26405115604534169_n.jpg?_nc_cat=1&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=vr4HnF7BNRIAX-L-LrR&_nc_ht=scontent.fhdy4-1.fna&oh=00_AT91oAcsf4ekVIZF7LNcgl4XiDldWdIum0HzCAEiUTWgvw&oe=62EDEE36" />
        </a>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <a href="https://www.manager.co.th">
          <img loading="lazy"
            src="https://scontent.fhdy4-1.fna.fbcdn.net/v/t39.30808-6/279214934_349661257195806_1902663956304792946_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=174925&_nc_ohc=xTHecZnBuTcAX-sZdR6&_nc_ht=scontent.fhdy4-1.fna&oh=00_AT8l3XAsKZW18d03CVWop-wZC246pgHIHEJFa4VtnY-gAA&oe=62EE4AF1" />
        </a>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <a href="https://www.sanook.com">
          <img loading="lazy"
            src="https://scontent.fhdy4-1.fna.fbcdn.net/v/t1.6435-9/74390299_10160112646859815_982542711775035392_n.jpg?_nc_cat=1&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=YVXdAvsAW6IAX--XeHV&_nc_ht=scontent.fhdy4-1.fna&oh=00_AT9O-Y0Nl1xsbmfUgFu5cs8qcwmkcJ1oYY70esRbXIXcZA&oe=6309097F" />
        </a>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <a href="https://www.kapook.com">
          <img loading="lazy"
            src="https://scontent.fhdy4-1.fna.fbcdn.net/v/t1.6435-9/31902114_1813930295310471_1270587008468647936_n.png?_nc_cat=1&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=FtDQefbwa7kAX-oubv5&_nc_ht=scontent.fhdy4-1.fna&oh=00_AT-cIuPFEs-llmXFc8nPYHrfCBrFYqMNJ72OI4GASmx7ww&oe=6307AC33" />
        </a>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <a href="https://www.komchadluek.net">
          <img loading="lazy"
            src="https://scontent.fhdy4-1.fna.fbcdn.net/v/t39.30808-6/271335431_10160165043924668_7730619931875115349_n.jpg?_nc_cat=1&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=CLjtTC2UuiUAX9brgMN&_nc_ht=scontent.fhdy4-1.fna&oh=00_AT-Hgg0SXRg6XOI1ePoeR_M67d8Er3P3ivprPjwRt4Cwag&oe=62EE55C2" />
        </a>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <a href="https://thailandsuperstar.com">
          <img loading="lazy"
            src="https://scontent.fhdy4-1.fna.fbcdn.net/v/t1.18169-9/10933842_376689969177710_5391546634836225068_n.png?_nc_cat=108&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=QfAd61dY9XgAX8mn36x&_nc_ht=scontent.fhdy4-1.fna&oh=00_AT-rQN4bmkL7KLouVstPpqWTufXDa5n8ELGqfJSvOPBuSA&oe=63080497" />
        </a>
      </div>
    </div>
  </div>
  </div>
  <footer>
    <div class="container-fluid" style="margin-top: 25px">
      <a href="/admin" style="text-align: center;">Admin Login</a>
    </div>
  </footer>
</body>

</html>