<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home | Follow</title>
  <link href="/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <div class="grid" id="news">
    <script>
      axios.get('/api/news').then(res => {
        let data = res.data.data;
        let items = "";
        for (let i = 0; i < data.length; i++) {
          items += `<div class="item">
                    <div class="content">
                      <a href="${data[i].url}">
                        <img loading="lazy"
                          src="${data[i].logo}" />
                      </a>
                    </div>
                  </div>`;
        }
        news.innerHTML = items;
      }).catch(err => {
        news.innerHTML = "Error";
      });
    </script>
  </div>
  <footer>
    <button>
      <a href="/admin">Login for Admin</a>
    </button>
  </footer>
</body>

</html>