body {
  background: #f2f2f2;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.content {
  color: #242424;
  box-sizing: border-box;
  height: 100%;
  padding: 10px;
}

img {
  max-width: 100%;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #333;
    color: white;
  }
}

@media (min-width: 800px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
