body {
  background: white;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.content {
  color: #242424;
  border-radius: 30px;
  overflow: hidden;
  margin: 10px;
}

img {
  max-width: 100%;
}

table {
  width: 100%;
}

@media (prefers-color-scheme: dark) {
  body {
    background: black;
    color: white;
  }
}

@media (min-width: 800px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}